.footer {
    width: 100%;
    padding: 5vh 0;
    background-color: white;
}
.footer-container {
    width: 90%;
}

.logo-zone {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.logo-zone .logo{
    max-width: 150px !important;
}
.logo-zone p{
    font-weight: bold;
}
.footer .info-title {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}
.footer .info {
    font-size: 12px;
    color: rgb(92, 92, 92);
    padding: 0;
}

.ends {
    display: flex;
    justify-content: end;
}

.c {
    height: 30px;
    padding: 10px ;
}