.page-container {
    width: 100%;
    height: auto;
    min-height: 90vh;
    padding: 20px 0;
    display: flex;
    background-color: aliceblue;
    flex-direction: column;
}
.section-holder {
    margin-bottom: 20px !important;
    width: 80%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
    padding: 3vh 5vw;
}
.section-holder.full-section {
    min-height: 60vh !important;
}
.regrouper {
    padding: 30px 0;
}
